/* PORTRAIT MOBILE FORMAT INSTRUCTIONS - SMALLER SCREEN  */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.key {
    display: none;
}
.instructions {
    display: none;
}
.dark-overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.image {
    display: none;
}
.wrapper {
    background-image: url(assests/background-image-0\ .jpg);
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.mobile-copy {
    height: 312px;
    width: 250px;
    border-top: 3px solid rgb(2, 252, 239);
    /* border-bottom: 3px solid rgb(2, 252, 239); */
    margin-left: 15px;
    margin-top: 40px;
}
.mobile-portrait-heading {
    margin: 0;
    padding-top: 15px;
    font-family: 'Bebas Neue';
    color: rgb(2, 252, 239);
    font-size: 40px;
    letter-spacing: 0.06em;
    line-height: 0.9em;
}
.mobile-portrait-copy {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.3em;
    color: white;
}

/* PORTRAIT MOBILE FORMAT INSTRUCTIONS - LARGER SCREEN */
@media only screen and (min-width: 285px) {
    .mobile-copy {
        width: 282px;
    }
    .mobile-portrait-heading {
        font-size: 50px;
    }
    .mobile-portrait-copy {
        font-size: 25px;
    }
}

/* LANDSCAPE MOBILE SCREEN - PLAYMODE */
@media only screen and (min-width: 565px) {
    /* @media only screen and (min-width: 285px) { */
    .mobile-copy {
        display: none;
    }
    .dark-overlay {
        display: none;
    }
    .wrapper {
      height: 100vh;
      width: 100vw;
      margin-top: 0px;
      background-image: url(#);
      background: rgb(250, 205, 123);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image-box {
      height: 90%;
      position: relative;
      display: inline-block;
    }
    .key .image-box {
        display: inline-block;
        position: absolute;
    }
    .image {
        height: 100%;
        display: inline-block;
        border-radius: 10px;
        border: 2px solid black;
    }
    .key {
        display: inline-block;
        width: 50px;
        height: 40px;
        display: flex;
        flex-direction: row;
        position: absolute;
    }
    .cap {
        font-family: 'Bebas Neue';
        font-size: 25px;
        color: rgb(2, 252, 239);
    }
    .heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        font-style: italic;
        width: 125px;
        color: white;
        margin-top: 22px;
        margin-left: 3px;
        
    }
    .a-key {
        top: 53.5%;
        left: 1%;
    }
    .s-key {
        top: 30%;
        left: 36%;
    }
    .d-key {
        top: 5%;
        left: 42%;
    }
    .f-key {
        top: 15%;
        left: 59%;
    }
    .g-key {
        top: 40%;
        left: 62%;
    }
    .h-key {
        top: 70%;
        left: 79%;
    }
    .j-key {
        top: 20%;
        left: 14%;
    }
    .k-key {
        top: -1%;
        left: 25%;
    }
    .l-key {
        top: 17%;
        left: 86%;
    }
    .instructions {
        width: 220px;
        display: inline-block;
        position: absolute;
        top: 65%;
        left: 17%;
        opacity: 70%;
    }
    .instruction-heading {
        padding-top: 3px;
        margin-bottom: -2px;
        font-family: 'Bebas Neue';
        font-size: 20px;
        border-top: 2px solid rgb(255, 255, 255);
        color: white;
        letter-spacing: 0.05em;
    }
    .instruction-copy {
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        font-style: italic;
        color: white;
        border-bottom: 2px solid rgb(255, 255, 255);
        padding-bottom: 5px;
    }
    .extra-copy {
        display: none;
    }
}

/* REGULAR IPAD LANDSCAPE - PLAY MODE  */
@media only screen and (min-width: 765px) and (min-height: 615px) {
    .image-box {
        height: 70%;
    }
    .instructions {
        width: 294px;
        top: 65%;
        left: 17%;
        opacity: 90%;
    }
    .instruction-heading {
        padding-top: 3px;
        margin-bottom: -2px;
        font-size: 27px;
        border-top: 2px solid rgb(255, 255, 255);
        letter-spacing: 0.05em;
    }
    .instruction-copy {
        margin: 0;
        font-size: 15px;
    }
    .extra-copy {
        display: inline;
    }
    .cap {
        font-size: 35px;
    }
    .heading {
        font-size: 18px;
        width: 125px;
        margin-top: 30px;
        margin-left: 3px;
        
    }
}

/* IPAD PORTRAIT - PLAY MODE */
@media only screen and (min-width: 765px) and (min-height: 1000px) {
    .wrapper {
        height: 100vh;
        width: 100vw;
        margin-top: 0px;
        background-image: url(#);
        background: rgb(250, 205, 123);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-box {
        height: 50%;
    }
    .instructions {
        width: 294px;
        top: 65%;
        left: 17%;
        opacity: 90%;
    }
    .cap {
        font-size: 35px;
    }
    .heading {
        font-size: 18px;
        width: 125px;
        margin-top: 30px;
        margin-left: 3px;
        
    }
}

@media only screen and (min-width: 1020px) and (min-width: 136) {
    .cap {
        font-size: 300px;
    }
}